// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes

section.gif, section.image
  -webkit-background-size: cover
  -moz-background-size: cover
  background-size: cover
  background-position: center
  background-repeat: no-repeat

section.gif--wtf
  background-image: url('../images/wtf.gif')

section.gif--experiment
  background-image: url('../images/experiment.gif')

section.gif--done
  background-image: url('../images/done.gif')

section.gif--stop
  background-image: url('../images/stop.gif')

section.image--standfort
  background-image: url('../images/standfort.png')

section.image--trigger
  background-image: url('../images/trigger.png')

section.image--ability
  background-image: url('../images/ability.png')

section.image--motivation
  background-image: url('../images/motivation.png')

section.image-contain
  background-size: contain

section.image--chart
  background-color: #fff
  background-image: url('../images/chart.png')

section.image--brands
  background-image: url('../images/brands.png')


body
  background: #5AABEE
  font-family: Lato

.bespoke-slide
  background: #5AABEE
  width: 100%
  margin-left: 0
  margin-top: 0
  top: 0
  left: 0
  color: #fff
  height: 100%

  h1
    font-weight: 700
    font-size: 6em

  h2
    font-weight: 300
    font-size: 3.5em

  h3.top-text
    font-size: 1.75em
    color: #fff
    font-weight: 300

  h1.intro
    font-weight: 900
    text-transform: uppercase
    font-size: 8em
    line-height: 130px

  h1.wow
    font-weight: 900
    text-transform: uppercase

  h1.wtf
    font-size: 12em

  h1.standfort, h1.experiment
    font-size: 8em

  h1.done
    font-size: 10em

  h1.logo
    padding: 50px

  h1.twitter
    padding: 20px 50px 50px 50px

  h1
    span
      color: #273540

  .example
    padding-top: 1%
    padding-left: 2%
    padding-right: 2%

  .twitter-example
    padding-top: 3%
    padding-left: 2%
    padding-right: 2%

  ul
    list-style: disc
    font-size: 2em
    padding-top: 20px

    li:first-child
      list-style: none

    li
      text-align: left

section.popcorn
  h2
    padding-top: 20px

  h1.wow
    padding-top: 10px

  .example
    padding-top: 4%

section.end
  .wrapper
    min-height: 150px

    .photo, .text
      display: inline-block

    .photo
      width: 250px
      min-height: 150px
      border-right: 2px solid #fff

    .text
      width: 500px
      text-align: left
      vertical-align: top
      padding: 25px 30px

      h4
        font-size: 3em
        letter-spacing: 0em
        font-weight: 700

      h5
        font-size: 2.5em
        font-weight: 300

        a
          color: #fff

        a:hover
          color: #273540

.bespoke-progress-bar
  background: rgba(255, 255, 255, 0.5)
  height: 10px